/* Icons from directory "" */

.icon-icon-behance,
.icon-icon-behance\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-icon-behance-dims {
    width: 32px;
    height: 28px
}

.icon-icon-dribble,
.icon-icon-dribble\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -28px;
    background-repeat: no-repeat
}

.icon-icon-dribble-dims {
    width: 24px;
    height: 28px
}

.icon-icon-facebook,
.icon-icon-facebook\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -56px;
    background-repeat: no-repeat
}

.icon-icon-facebook-dims {
    width: 16px;
    height: 28px
}

.icon-icon-googleplus,
.icon-icon-googleplus\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -84px;
    background-repeat: no-repeat
}

.icon-icon-googleplus-dims {
    width: 20px;
    height: 20px
}

.icon-icon-instagram,
.icon-icon-instagram\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -104px;
    background-repeat: no-repeat
}

.icon-icon-instagram-dims {
    width: 24px;
    height: 28px
}

.icon-icon-skype,
.icon-icon-skype\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -132px;
    background-repeat: no-repeat
}

.icon-icon-skype-dims {
    width: 24px;
    height: 28px
}

.icon-icon-twitter,
.icon-icon-twitter\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -160px;
    background-repeat: no-repeat
}

.icon-icon-twitter-dims {
    width: 26px;
    height: 28px
}
