$screen_xs: 480px;
$screen_sm: 768px;
$screen_md: 992px;
$screen_lg: 1200px;

$dirfont: "../fonts";

$color-base: #8d8f92;
$color-invert: rgba(#fff, 0.8);
$color-greeny: #23b7a4;
$color-header: #292f36;
$color-dark: #3a454d;
$color-socials: #c8cdd0;