nav.navbar.my-navbar {
  border-radius: 0;
  border-bottom: none;
  margin-bottom: 0;
  background-color: $color-navbar;
  transition: background-color .3s, height .3s, border .3s;
  .navbar-brand {
    padding-top: 31px;
  }
  & li {
    a {
      //text-align: center;
      text-transform: uppercase;
      line-height: 10px;
      line-height: 0.5;
      padding: 20px;
      //border: 2px solid $color-navbar;
      //border-radius: 5px;
      //font-size: 14px;
      //color: #a4aead;
      /* &:last-child {
        margin-right: 8px;
      }
      &:hover{
        border: 2px solid $color-grey;
      } */
    }
    &.active a {
      color: $color-greeny;
    }
    @media(min-width: $screen-sm) {
      padding-top: 25px;
      margin-right: 6px;
      a {
        text-transform: uppercase;
        line-height: 10px;
        line-height: 0.5;
        padding: 10px;
        border: 2px solid $color-navbar;
        border-radius: 5px;
        font-size: 14px;
        color: #a4aead;
        &:last-child {
          margin-right: 8px;
        }
        &:hover{
          border: 2px solid $color-grey;
        }
      }
      &.active a {
        border: 2px solid $color-greeny;
        color: $color-greeny;
        &,
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }
      }
    }
  }
  &--initial {
    background-color: rgba(0,0,0, .6);
    border: none;
    li {
      a {
        border-color: $color-grey;
        color: #fff;
        &:hover{
          border-color: lighten($color-grey, 40);
        }
      }
      &.active a {
        border-color: $color-greeny;
      }
    }
  }
  &:not(&--initial) {
    height: 100px;
  }
}


.carousel {
  z-index: 1000;
  &-inner{
    & .item {
      height: 660px;
      //height: 60vw;
      overflow: hidden;
      & img {
        min-height: 100%;
        min-width: 100%;
      }
      & h2 {
        margin-bottom: 10px;
      }
      & p {
        margin-bottom: 5px;
      }
    }
  }
  &-indicators {
    display: none;
    @media(min-width: $screen-sm) {
      display: block;
    }
  }
  &-caption {
    top: 18%;
    bottom: initial;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: left;
    &__btn {
      margin-right: 5px;
      background: none;
      border: 2px solid #fff;
      font-family: 'Quattrocento Sans', sans-serif;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      @media(min-width: $screen-sm) {
        padding-left: 20px;
        padding-right: 20px;
        padding: 10px 21px 8px;
      }
      &:focus,
      &:active,
      &:hover {
        color: #fff;
        background-color: $color-greeny;
        border-color: $color-greeny;
      }
    }
    @media(max-width: $screen-sm - 1) {
      padding-top: 0;
    }
    @media (min-width: $screen-md) {
      left: 5%;
      width: 50%;
    }
  }
  &-heading {
    color: #fff;
    @media(max-width: $screen-sm - 1) {
      margin-top: 5px;
    }
  }
}



.section {
  //padding-bottom: 100px;
  &__header {
    @include callout;
    &--invert {
      border-color: #4e5a62;
      color: #fff;
    }
  }
}



.about {
  padding-bottom: 100px;
  h3 {
    padding-bottom: 5px;
  }
  p {
    margin-bottom: 12px;
  }
  &__col-2{
     padding-top: 10px;
  }
  &__col-item {
    display: flex;
  }
  &__col-num {
    flex-shrink: 0;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: $color-greeny;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    line-height: 50px;
  }
  &__col-content {
    p {
      margin-bottom: 24px;
    }
  }
  @at-root {
    .section--about {
      border-bottom: 1px solid #dde1e4;
    }

  }
}



.socials {
  padding: 29px 0 0;
  margin: 0;
  font-size: 0;
  &__item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $color-socials;
    margin-right: 1px;
    @media(min-width: 365px) {
      width: 60px;
      height: 60px;
    }
    &:hover {
      background-color: lighten($color-socials, 5);
    }
    &:focus,
    &:active {
      background-color: darken($color-socials, 5);
    }
  }
  &__svg {
    @include svg;
  }
}



.team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  position: relative;
  &__item {
    &:hover {
      .team {
        &__info {
          background-color: $color-dark;
        }
        &__name,
        &__position {
          color: #fff;
        }
        &__img img {
          transform: scale(1.03);
        }
      }
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    & img {
      width: 100%
    }
  }
  &__veil {
    @include veil-small($nesting: 2);
  }
  &__socials {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 153px;
    font-size: 0;
    &-item {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: $color-dark;
      margin-right: 1px;
      &:hover {
        background-color: lighten($color-dark, 10);
      }
      &:focus,
      &:active {
        background-color: darken($color-dark, 5);
      }
    }
  }
  &__svg {
    @include svg;
  }
  &__info {
    padding: 20px;
    height: 74px;
    background-color: #e1e6ea;
  }
  &__name {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: $color-header;
    line-height: .9;
  }
  &__position {
    padding: 0;
    margin: 3px 0 0;
  }
}



.work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
  &__item {
    margin: 15px 0;
    &:hover {
      .work__img {
          position: relative;
          overflow: hidden;
         img {
          transform: scale(1.03);
        }
      }
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    & img {
      width: 100%
    }
  }
  &__veil {
    @include veil-small($nesting: 1);
    display: flex;
    flex-direction: column;
  }
  &__link {
    position: relative;
    display: block;
    flex-grow: 1;
    background-color: rgba(#444, 0.5);
    //opacity: 0.5;
    font-size: 0;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    &:after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      font-weight: bold;
      line-height: 0.9;
      color: #fff;
    }
  }
  &__title {
    background-color: $color-header;
    height: 60px;
    margin: 0;
    padding: 18px 0 0 18px;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }
  &__btn-more {
    margin: 0 auto;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    &:focus,
    &:active,
    &:hover {
      color: #fff;
      background-color: $color-greeny;
      border-color: $color-greeny;
    }
  }
  @at-root {
    .section--work {
      padding-bottom: 60px;
      background-color: $color-dark;
    }
  }
}



.we-do {
  padding-bottom: 115px;
}



.features {
  padding-bottom: 53px;
  padding-bottom: 103px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__item {
    position: relative;
    margin: 15px 0;
    &:hover {
      .work__veil {
        display: flex;
        flex-direction: column;
      }
    }
    & img {
      width: 100%;
      @include padding-to-edge (44px, $features-article-header-size, $features-article-header-height);
    }
  }
  .owl-dots {
    position: absolute;
    padding-top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @at-root {
    .section--features {
      background-color: $color-dark;
    }
  }
}



.article {
  &__header {
    margin: 0;
    padding: 10px 0 0 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
  }
  &__text{
    margin: 0;
    padding: 0;
    font-size: $article-text-size;
    line-height: $article-text-height;
  }
  .contact & {
    &__header {
      margin-top: 50px;
      margin-bottom: 30px;
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 20px;
      line-height: $article-text-height;
    }
  }
  .features & {
    @include padding-to-edge(5px, $article-text-size, $article-text-height);
    &__header {
      font-size: $features-article-header-size;
      line-height: $features-article-header-height;
      color: #fff;
      @include padding-between-blocks(31px, $features-article-header-size, $features-article-header-height, $article-text-size, $article-text-height);
    }
    &__text {
      color: #dcdfe1;
    }
  }
  .we-do & {
    text-align: center;
    &__header {
      position: relative;
      font-size: 17px;
      line-height: 1;
      @include padding-between-blocks(29px, $wedo-article-header-size, $wedo-article-header-size, $article-text-size, $article-text-height);
    }
    &:before {
      content: '';
      position: absolute;
      top: 44px;
      left: 50%;
      transform: translateX(-50%);
      width: 48px;
      height: 48px;
      background-image: url(#{$dirimg}/spritesheet.png);
      background-repeat: no-repeat;
    }
    &--icon-cogs:before {
      width: 48px;
      height: 48px;
      background-position: -63px -5px;
    }
    &--icon-pencil:before {
      width: 48px;
      height: 48px;
      background-position: -121px -5px;
    }
    &--icon-phone:before {
      width: 30px;
      height: 48px;
      background-position: -179px -5px;
    }
    &--icon-clock:before {
      width: 48px;
      height: 48px;
      background-position: -5px -5px;
    }

    padding-bottom: 44px;
    padding-top: 116px;
    //@include padding-between-blocks(70px, $wedo-article-header-size, $wedo-article-header-size, $article-text-size, $article-text-height);

      }
}



.sprite {
  background-image: url(#{$dirimg}/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  &-icon-clock {
      width: 48px;
      height: 48px;
      background-position: -5px -5px;
  }
  &-icon-cogs {
      width: 48px;
      height: 48px;
      background-position: -63px -5px;
  }
  &-icon-pencil {
      width: 48px;
      height: 48px;
      background-position: -121px -5px;
  }
  &-icon-phone {
      width: 30px;
      height: 48px;
      background-position: -179px -5px;
  }
}



.contact {
  position: relative;
  &__map {
    height: 346px;
    background: #e1e6ea url(../img/map-spb.jpg) no-repeat 50% 50%;
    background-size: cover; //150%;
  }
  &__label {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
  }
  &__article {
    display: inline-block;
    vertical-align: bottom;
    float: none;
  }
  &__form {
    margin-bottom: -30px;
    padding: 30px;
    background-color: #fff;
    @media (min-width: $screen-md) {
      float: right;
    }
  }
  &__form-cover {
    position: absolute;
    left: calc(50% - 30px);
    bottom: 0;
    padding-right: 40px;
    &-inputs-row {
      padding-bottom: 23px;
    }
    textarea,
    input {
      margin: 0;
      padding: 10px;
      width: 100%;
      border: none;
      border-radius: 4px;
      outline: none;
      background-color: #eaeef1;
      box-shadow: inset 0px 1px 1px 0 rgba(0,0,0, 0.075);
    }
    input {
      height: 44px;
    }
    textarea {
      height: 160px;
      max-height: 260px;
      max-height: 40vh;
    }
    @media (max-width: $screen-md - 1px) {
      position: static;
      left: initial;
      bottom: initial;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md - 1px) {
      padding-right: 0;
    }
  }
  &__btn {
    margin-top: 22px;
    background-color: $color-greeny;
    text-transform: uppercase;
    color: #fff;
  }
  @at-root .section--contact {
    margin-bottom: 120px;
  }
}



.footer {
  position: relative;
  height: 95px;
  background-color: $color-dark;
  &__copy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
  }
  &__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    &-wrapper{
      height: 95px;
    }
    &-item {
      display: inline-block;
      width: 33px;
      height: 33px;
      //background-color: $color-socials;
      margin-right: 1px;
      svg {
        @include svg;
      }
    }
    &-svg {
      @include svg;
      &--fb {}
      &--sk {}
      &--be {}
      &--in {}
    }
  }
  @media(max-width: $screen-md) {
    display: none;
  }
}
